<div style="height: 10%;" class="text-right pull-right" *ngIf="setting.allowPaging">
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item" [ngClass]="isFirstPageDisabled()" (click)="onPageChange(1)">
                <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                    <span class="sr-only">First</span>
                </a>
            </li>
            <li class="page-item" [ngClass]="isFirstPageDisabled()" (click)="onPageChange(setting.pageNumber-1)">
                <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item" *ngFor="let page of getPageRange()" [ngClass]="{ 'active': page == setting.pageNumber }" (click)="onPageChange(page)">
                <a class="page-link">{{page}}</a>
            </li>
            <li class="page-item" [ngClass]="isLastPageDisabled()" (click)="onPageChange(setting.pageNumber + 1)">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            <li class="page-item" [ngClass]="isLastPageDisabled()" (click)="onPageChange(getTotalPages())">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                    <span class="sr-only">Last</span>
                </a>
            </li>
        </ul>
    </nav>
</div>        
<div class="pull-left">
    <span><b>Total Records:{{data.Total}}</b></span>
    <select (change)="onPageSizeChange($event.target.value)" [(ngModel)]="setting.pageSize">
        <option *ngFor="let size of pageSizes" value={{size}}>
            {{size}}
        </option>
    </select>
</div>
<table class="table table-bordered table-hover table-responsive" >
    <tr>
        <th style="width:20px initial" (click)="selectAll(headerCheckBox.checked)"   ><input #headerCheckBox type="checkbox"  ></th>
        
        <th  [ngClass]="column.headerClasses" [style.width]="columnSize"  *ngFor="let column of columns" (click)="sortColumns(column.propertyName)">{{column.headerName}}
                    <div *ngIf="column==setting.sortColumn && setting.sortDirection=='asc'" class="glyphicon glyphicon-sort-by-alphabet" ></div>
                    <div *ngIf="column==setting.sortColumn && setting.sortDirection=='desc'" class="glyphicon glyphicon-sort-by-alphabet-alt"></div>
        </th>
    </tr>

    <tr  *ngFor="let item of tempData" >
        <td style="width:20px" (click)="clicked(item,checkBox.checked)"><input #test class="gridCheck" #checkBox type="checkbox"></td>
        <td  [ngClass]="column.columnClasses"  *ngFor="let column of columns" [ngSwitch]="column.columnType">
            <div *ngSwitchCase="1" >{{cellHtml(item,column)}}></div>
            <div *ngSwitchCase="2"><a href="#" (click)="controlEventClick(item,column.eventName)" >{{cellHtml(item,column)}}</a></div>
            <div *ngSwitchCase="3"><input type="checkbox"  [checked]="item[column.propertyName]" /></div>
            <div *ngSwitchCase="4"><button (click)="controlEventClick(item,column.eventName)">{{cellHtml(item,column)}}</button></div>
            <div *ngSwitchDefault>{{cellHtml(item,column)}}</div>
        </td>
    </tr>

</table>

<button (click)="clicked()"></button>
<!--<cgrid [gridOption]="gridOption"></cgrid>-->
